@import url(../reindeer/styles.css);

.v-levelselector {
	border: solid 1px #888886;
	padding: 1px 0px 1px 1px;
	overflow: hidden;
}

.v-levelselector .box {
	height: 100%;
	/* Usually we'd want to use a margin here instead, but the onmouseover- 
	 * event will not be triggered on a margin, which lead to the component 
	 * to have a slight blinking effect. Hence we use a border which is the
	 * same color as the background, the border will trigger the onmouseover-
	 * event and hence no blinking will occur.
	*/
	border-right: solid 1px #f5f5f5;
	float: left;
}

.v-levelselector .box-disabled {
	background: #888886 !important;
}

.v-levelselector .box-selected {
	background: #0887a8 !important;
}

.v-levelselector-stars {
	border: none;
	padding: 1px 0px 1px 1px;
	overflow: hidden;
}

.v-levelselector-stars .box {
	height: 100%;
	border-right: solid 1px #f5f5f5;
	float: left;
	background: url(star_not_selected.png) no-repeat;
}

.v-levelselector-stars .box-disabled {
	background: url(star_disabled.png) no-repeat !important;
}

.v-levelselector-stars .box-selected {
	background: url(star.png) no-repeat !important;
}


.v-levelselector-volume {
	border: none;
	background: url(color.png) no-repeat;
	overflow: hidden;
	padding: 0px;
}

.v-levelselector-volume .box {
	height: 100%;
	float: left;
	background: #f5f5f5;
	opacity:0.8;filter:alpha(opacity=80);
}

.v-levelselector-volume .box-disabled {
	
}

.v-levelselector-volume .box-selected {
	background: transparent !important;
	opacity:0;filter:alpha(opacity=0);
}